<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}"/>
</head>
<body>
<form method="post" th:action="@{/list}" th:object="${listForm}">
    <fieldset>
        <legend>検索条件</legend>
        <div class="input-group">
            <span class="input-group-text">都道府県コード</span>
            <label>
                <select th:field="*{prefecturesCode}" class="form-control">
                    <option th:each="list : ${prefecturesDtoList}"
                            th:value="${list.getPrefecturesCode()}"
                            th:text="${list.getPrefecturesName()}">
                    </option>
                </select>
            </label>
        </div>
        <input type="submit" name="action" value="検索" class="btn btn-primary"/>
    </fieldset>
</form>

<table class="table table-sm table-striped table-hover caption-top">
    <caption>都道府県別の感染者数</caption>
    <thead>
    <tr>
        <th scope="col">日付</th>
        <th scope="col">各地の感染者数_1日ごとの発表数</th>
        <th scope="col">各地の感染者数_累計</th>
        <th scope="col">各地の死者数_1日ごとの発表数</th>
        <th scope="col">各地の死者数_累計</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="list : ${covid19DtoList}">
        <td th:text="${list.getYyyyMmDd()}"></td>
        <td th:text="${list.getInfectionPersonCountOneDay()}" style="text-align: right"></td>
        <td th:text="${list.getInfectionPersonCountTotal()}" style="text-align: right"></td>
        <td th:text="${list.getDeadCountOneDay()}" style="text-align: right"></td>
        <td th:text="${list.getDeadCountTotal()}" style="text-align: right"></td>
    </tr>
    </tbody>
</table>

<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
</body>
</html>