[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
default_authentication_plugin=mysql_native_password
general_log=ON
local-infile=1

[client]
default-character-set=utf8mb4
loose-local-infile=1
